<div class="formulaire">
    <div class="image">
      <img src="../assets/img/EGA-circle-logo-BW.png" width="90" height="90" alt="">
      <p>Bienvenue sur <b>EnigmA</b>!</p>
    </div>
    <div class="alerteConnexion">
      Vous devez vous connecter pour pouvoir accèder aux énigmes.
    </div>
  
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group" [ngClass]="{ 'has-error': invalidPseudo() }">
        <label for="pseudo" class="control-label">Pseudo:</label>
        <input type="text" 
        class="form-control" 
        id="pseudo"
        formControlName="pseudo"
        placeholder="Votre pseudo sur EnigmA"
        required
        [(ngModel)]="users.pseudo">
        <p *ngIf="invalidPseudo()" id="pseudo_error" class="help-block"></p>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': invalidMdp() }">
        <label for="mdp" class="control-label">Mot de passe:</label>
        <input type="password" 
        class="form-control" 
        id="mdp"
        formControlName="mdp"
        placeholder="*********"
        required
        [(ngModel)]="users.mdp">
        <p *ngIf="invalidMdp()" id="mdp_error" class="help-block">Le pseudo et le mot de passe associé ne correspondent pas.</p>
      </div>
      <div class="form-group has-error">
          <button type="submit" (click)="saveUser()" class="btn btn-secondary btn-lg btn-block">Se Connecter</button>
      </div>
      
    </form>
  
  </div>