<div class="enigmeContainer">
    <div class="title">
        Et ils appellent ça une mine. Une mine!
    </div>
    <div class="intitule">
        C'est trois nains. Ils vont à la mine.
        Le premier prend une pelle, le deuxième prend une pioche, que prend le troisième?
    </div>
    <div class="answer">
        <form>
            <div class="form-group">
              <label for="reponse">
                Réponse:
              </label>
              <input type="text" id="reponse" class="form-control">
            </div>
            <button class="btn btn-secondary btn-lg btn-block" (click)="appear()">Avoir un indice</button>
            <ng-container *ngIf="show">
                <p class="indice">Ne vous creusez pas trop la tête!</p>
            </ng-container>
        </form>
    </div>
    <div class="bouton">
        <button class="btn btn-secondary btn-lg btn-block">Soumettre la réponse</button>
    </div>
</div>
